
/* 한국기계연구원 */
@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 수트체 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



html, body {
	margin: 0 auto;
	height: 100%;
	
}

.maincontainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}


.kakaomap {
    width: 100%; 
    height: 100%;
    flex: 1;
}


.searchbar {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 100%;
	background-color: white;
	
}

.searchlogo {
	width: 100%;
	height: auto;
	background-color: blue;
	
}

.searchlogo p {
	font-family: 'KIMM_Bold', sans-serif;
	font-size: 25px;
	color: white;
	margin-left: 1vh;
}

.tabbar {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: auto;
	
}

.tabbarev, .tabbarroad {
	margin-top: 3vh;
	color: black;
	font-family: 'SUIT-Regular', sans-serif;
	font-size: 18px;
	cursor: pointer;
	
}

.selectlocal {
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	
	
}

.selectlocal h3 {
	margin-top: 4vh;
	margin-left: 2vh;
	font-family: 'SUIT-Regular', sans-serif;
	font-size: 18px;
	
}

.dropdown {
	width: 90%;
	margin: 3px auto;
	padding: 10px;
	font-family: 'SUIT-Regular', sans-serif;
	font-size: 16px;
	border-radius: 5px;
	
}

.searchinput-container {
	position: relative;
	width: 90%;
	margin: 3px auto;
	padding: 10px;
	font-family: 'SUIT-Regular', sans-serif;
	font-size: 16px;
	border-radius: 5px;
	display:flex;
	
}

.searchinput {
	width: 90%;
	margin: 3px auto;
    padding: 10px 40px 10px 15px; /* 아이콘 공간 확보를 위해 오른쪽 padding 추가 */
	font-family: 'SUIT-Regular', sans-serif;
	font-size: 16px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ccc;
	
}

.searchicon {
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	transform: translateY(-50%);
    right: 15px; 
    top: 50%;
    
}

.searchbutton-container {
	display: flex;
	justify-content: space-around;
}

.searchbutton {
	border: none;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
	color: white;
	width: 100px;
	background-color: blue;
	
}


