/* 한국기계연구원 */
@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 수트체 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 페이퍼로지 */
@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* 이사만루 */
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 프리텐다드 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 메이플스토리체 */
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




html, body {
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
	
}

.maincontainer {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
}


.kakaomap {
    width: 100%; 
    height: 100%;
    flex: 1;
    position: absolute;
}


.searchbar {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 90vh;
	background-color: white;
	overflow: hidden;
	position: absolute;
	z-index: 1000;
	margin: 20px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}



.searchlogo {
	width: 100%;
	height: auto;
	background-color: #0d8aff;
	
}

.searchlogo p {
	font-family: 'KIMM_Bold', sans-serif;
	font-size: 25px;
	color: white;
	margin-left: 1vh;
}

.tabbar {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: auto;
	
}

/* .tabbar .active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
} */

.tab-content {
    display: none;
}

.tab-content.active {
    display: flex;
    margin-top: 2vh;
    height: 100%;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

}

.tabbarev, .tabbarroad {
	margin-top: 2vh;
	color: black;
	font-family: 'SUIT-Regular', sans-serif;
	font-size: 16px;
	cursor: pointer;
	position: relative; /* ::after 가상 요소 위치 기준을 위해 필요 */
	
}

/* 활성화된 탭의 스타일 */
.tabbar .active {
    color: #007bff;
}

/* 활성화된 탭에 언더바 추가 */
.tabbar .active::after {
    content: "";
    position: absolute;
    bottom: -5px; /* 텍스트 바로 아래에 언더바 위치 */
    left: -15px; /* 왼쪽으로 10px 더 길게 시작 */
    width: calc(100% + 35px); /* 언더바 길이를 요소 너비보다 20px 더 길게 설정 */
    height: 2px;
    background-color: #007bff;
    border-radius: 2px; /* 언더바의 양끝을 약간 둥글게 만듦 */
}


.selectlocal {
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	
	
}

.selectlocal h3 {
	margin-top: 1vh;
	margin-left: 2vh;
	font-family: 'SUIT-Regular', sans-serif;
	font-size: 18px;
	
}

.dropdown {
	width: 90%;
	margin: 3px auto;
	padding: 10px;
	font-family: 'SUIT-Regular', sans-serif;
	font-size: 16px;
	border-radius: 5px;
	
}

.searchinput-container {
	position: relative;
	width: 90%;
	margin: 3px auto;
	padding: 10px;
	font-family: 'SUIT-Regular', sans-serif;
	font-size: 16px;
	border-radius: 5px;
	display:flex;
	
}

.searchinput {
	width: 90%;
	margin: 3px auto;
    padding: 10px 40px 10px 15px; /* 아이콘 공간 확보를 위해 오른쪽 padding 추가 */
	font-family: 'SUIT-Regular', sans-serif;
	font-size: 16px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ccc;
	
}

.searchicon {
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	transform: translateY(-50%);
    right: 15px; 
    top: 50%;
    
}

.searchbutton-container {
	display: flex;
	justify-content: space-around;
	margin: 10px;
}

.searchbutton {
	border: none;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
	color: white;
	width: 130px;
	background-color: #0d8aff;
	font-family: 'SUIT-Regular', sans-serif;
	
}

.chargetype {
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	width: 90%;
	margin: 0 auto;
	margin-top: 2vh;
	
	
}

.chargetype h3 {
	font-family: 'SUIT-Regular', sans-serif;
	font-size: 18px;
	margin-top: 1vh;
	margin-left: 2vh;
	
}

.chargetype label {
    font-family: 'SUIT-Regular', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 2px;
    
}

.chargetype input[type="checkbox"] {
    margin-right: 1vh;
    width: 15px;
    height: 15px;
    
}

.chargetypetext {
	font-family: 'SUIT-Regular', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin-top: 2vh;
	margin-left: 2vh;
	
}




.searchlist {
	font-family: 'SUIT-Regular', sans-serif;
	width: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 2vh;
	overflow-y : auto;
	max-height: 100%;
	flex: 1;
	box-sizing: border-box;
	
}


.searchlist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.searchlist h2 {
	font-family: 'SUIT-Regular', sans-serif;
	font-size: 18px;
}

.search-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* 아이템 구분선 */
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.info {
	cursor: pointer;
}

.info h3 {
    font-size: 15px;
    margin: 0;
}

.info p {
	font-size: 13px;
	margin: 0;
	margin-top: 5px;
}

.status {
    display: flex;
    gap: 4px; /* 각 상태 간 간격 */
}

.status span {
    display: inline-flex;
    align-items: center;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 15px;
    margin-top: 4px;
}

/* 충전기 상태 */
.stat {
    background-color: #007bff;
	color:white;
}

.status-available {
    background-color: #4CC417; /* 사용 가능 */
    color:white;
    display: inline-flex;
    align-items: center;
    font-size: 11px;
    padding: 4px 12px;
    border-radius: 15px;
    margin: 4px 0;
}

.status-in-use {
    background-color: #F62217; /* 사용 중 */
    color:white;
    display: inline-flex;
    align-items: center;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 15px;
    margin-top: 4px;
}

.status-unavailable {
    background-color: #F62217; /* 사용 불가 */
    color:white;
    display: inline-flex;
    align-items: center;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 15px;
    margin-top: 4px;
}

.status-out-of-service {
    background-color: #6c757d; /* 운영 중지 */
    color:white;
    display: inline-flex;
    align-items: center;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 15px;
    margin-top: 4px;
}

.status-under-maintenance {
    background-color: #FBB117; /* 점검 중 */
    color:white;
    display: inline-flex;
    align-items: center;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 15px;
    margin-top: 4px;
}

.status-unknown {
    background-color: #343a40; /* 상태 미확인 */
    color:white;
    display: inline-flex;
    align-items: center;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 15px;
    margin-top: 4px;
}


.available {
    background-color: #007bff;
    color: white;
    display: inline-flex;
    align-items: center;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 15px;
    margin-top: 4px;
    
}

.fast {
    border: 1px solid #007bff;
    color: #007bff;
    
}

.type {
    background-color: #007bff;
    color: white;
}




/* 충전소 길 찾기 탭 스타일 */
.route-search {
    display: flex;
    flex-direction: column;
    width: auto;
    /* margin: 0px auto; */
    margin-left: 2vh;
}

.input-container {
    display: flex; /* 수평 배치 */
    width: 100%; /* 전체 너비 사용 */
}


.route-search h3 {
    font-family: 'SUIT-Regular', sans-serif;
    font-size: 18px;
	
}


.route-input {
    flex: 1; /* 입력 필드가 가능한 많은 공간을 차지 */
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'SUIT-Regular', sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-right: 5px; /* 스왑 버튼과의 간격 */
    
    
}

.route-searchbutton {
	width: 87%;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #0d8aff;
    font-family: 'SUIT-Regular', sans-serif;
    font-size: 15px;
    margin-top: 10px;
}


.route-swapbutton {
    padding: 10px 12px;
    background-color: transparent;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 16px;
    line-height: 1; 
    width: 20px;
    height: 20px;
    border: none;
    
}

.route-swapbutton img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}
.route-swapbutton:hover {
    opacity: 0.5; 
}



.suggestions-container {
	width: 100%;
	height: auto;
	font-family: 'Pretendard-Regular', sans-serif;
	
}

.autocomplete-icon {
	width: 20px;
	height: 20px;
	margin-right: 8px;
    background-size: cover; 
    background-position: center; 
    display: inline-block;
}


/* 경로 결과 스타일 */
.route-result {
    width: auto;
    margin: 10px 12px;
    font-family: 'SUIT-Regular', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.route-result h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.route-result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.route-result li {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd; /* 아이템 구분선 */
    font-size: 14px;
    color: #555;
    list-style-type: none;
}

.route-result li::before {
    color: #007bff;
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;
}

.route-header {
	position: sticky;
	top: 0;
	width: 100%;
	height: auto;
	
}

.route-main {
	overflow-y: auto;
	overflow-x: hidden;
	
	
}

.route-icon {
	width: auto;
	height: 35px;
	flex-shrink: 0;
	text-align: center;
	align-items: center;
	display: flex;
	margin: 0;
	padding: 0;
}


.route-icon img{
	width: 30px;
	height: 30px;
	
	
}


.direction-item {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd; 
    background-color: #fff;
    padding: 6px;
    width: 95%;
    height: auto;
    align-items: center;
    white-space: pre-line;
    gap: 10px;
 
}



/* 카카오 지도 */
.wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
.info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.info .close:hover {cursor: pointer;}
.info .body {position: relative;overflow: hidden;}
.info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
.info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.info .link {color: #5085BB;}

/* 자동완성 목록 스타일 */
#autocompleteSuggestions {
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 200px;
}

.autocomplete-item {
    cursor: pointer;
    font-size: 14px;
    padding: 8px;
    display: flex;
    text-align: center;
    align-items: center;
}

.autocomplete-item:hover {
    background-color: #eee;
}


.pagination-wrapper {
    width: 100%; /* 부모 요소의 크기를 따라감 */
    display: flex;
    justify-content: center; /* 가운데 정렬 */
	
}


.pagination-container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	margin: 10px auto;
	
}


.page-button {
    margin: 2px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    width: 40px;
    height: 40px;
    font-family: 'SUIT-Regular', sans-serif;
}

.page-button:hover {
    background-color: #0d8aff;
}

.page-button.active {
    background-color: transparent;
    color: black;
    font-weight: bold;
}


/* 충전소 정보 */
.station-info-popup {
	font-family: 'SUIT-Regular', sans-serif;
    position: fixed;
    top: 90px;
    right: 50px;
    max-width: 300px;
    width: 300px;
    height: 760px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    z-index: 1000;
    display: none; /* 처음에는 숨김 상태 */
    border-radius: 20px;
    
}

.real-popup {
	display: flex;
	flex-direction: column;
}

.popupchargebusi {
	display: flex;
	justify-content: space-around;
	margin: 10px 0;
	
}

.popupchargeType {
	font-family: 'SUIT-Regular', sans-serif;
}

.popupchargeType table {
    width: 100%;
    height: 130px;
    margin: 10px auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.popupchargebusi p,
.popupchargeType th,
.popupchargeType td,
.popupchargeinfo p,
.popupchargeinfo span {
    line-height: 1.2; /* 줄 간격 조정 */
    
}

.info-header {
	font-family: 'Paperlogy-8ExtraBold';
	font-size: 25px;
	
	
}

.popupchargeType th,
.popupchargeType td {
	font-size: 13px;
	text-align: center; /* 텍스트 중앙 정렬 */
	word-break: keep-all; /* 단어가 중간에 끊기지 않도록 설정 */
	margin: 5px 0; /* 요소 사이의 간격 최소화 */
	border: 1px solid #ccc;
	padding: 5px;
	
}

.popupchargeinfo span {
    display: block; /* 각 항목을 새 줄에 표시 */
    padding-bottom: 5px; /* 아래쪽 여백 추가 */
    margin: 3px 0;
}

.popupchargeinfo {
	display: flex;
	flex-direction: column;
    gap: 5px; /* 항목 사이 간격 */
    width: 100%;
}

.info-item {
    display: flex;
    align-items: center; /* 라벨과 내용의 수평 정렬 */
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc; /* 밑줄 */
    font-size: 15px;
    flex-wrap: wrap;
    width: 100%;
}


.info-stats {
	word-break: break-word; /* 단어가 길어질 경우 줄 바꿈 */
    white-space: normal; /* 텍스트가 줄 바꿈될 수 있도록 */
    overflow-wrap: break-word; /* 필요한 경우 줄 바꿈을 허용 */
    flex: 1;
	align-items: center;
}


.label {
	width: 75px; /* 라벨 부분의 고정 너비를 설정하여 간격 유지 */
    font-weight: bold;
    margin-right: 5px; /* 제목과 값 간격 */
    
}


.popupchargephoto {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	gap: 5px; /* 항목 사이 간격 */
	
}

.popupchargephoto span {
	font-family: 'Paperlogy-8ExtraBold';
	font-size: 25px;
	
}


.station-info-popup h3 {
    margin-top: 0;
}

#closePopupButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}


.popupStationName {
	font-family: 'KIMM_Bold', sans-serif;
	font-size: 23px;
	margin-bottom: 2vh;
	
}

.popupOperator {
	padding: 5px 15px;
	border-radius: 15px;
	align-items: center;
	background-color: #4CC417;
	color: white;
	font-size: 13px;
	
}

.roadview {
    width: 100%;
    height: 250px;
    overflow: hidden;
    object-fit: cover; /* 로드뷰 이미지가 컨테이너 크기에 맞게 조정됨 */
    border-radius: 8px; /* 모서리 둥글게 (선택 사항) */
    max-height: 250px;
}


.chargephoto-header {
	font-family: 'Paperlogy-8ExtraBold';
	font-size: 25px;
	margin: 15px 0;
	display: flex;
	justify-content: space-between;
}

.chargephoto-header img {
	width: 25px;
	height: 25px;
	background-color: #4CC417;
	border-radius: 5px;
}

.roadviewnav {
	display: flex;
	font-family: 'SUIT-Regular', sans-serif;
	font-size: 15px;
	align-items: center;
	border: none;
	background-color: #4CC417;
	cursor: pointer;
	border-radius: 10px;
	color: white;
	width: auto;
}


/* 태블릿 화면 (1024px 이하) */
@media (max-width: 1024px) {
    .searchbar {
        width: 300px; /* 검색 바 너비 축소 */
    }


    .route-main, .route-result {
        max-height: 60vh; /* 경로 리스트 높이 제한 */
    }

    .route-input {
        font-size: 14px; /* 입력 필드 폰트 축소 */
    }

	.route-icon {
		height: 30px;
	
	}

    .route-icon img {
        width: 22px;
        height: 22px; /* 아이콘 크기 조정 */
    }
    
    .page-button {
    	width: 20px;
    	height: 20px;
    
    }
    
    .route-searchbutton {
    	width: 83%;
    	margin-top: 1px;
    	padding: 9px;
    	font-size: 14px;
    
    }
    
    
    .dropdown {
    	font-size: 14px;
    	padding: 7px;
    	
    }
    
    .chargetypetext {
    	margin-top: 1vh;
    	
    
    }
    
    .chargetype label {
    	font-size: 13px;
    	margin: 1px;
    
    }
    
    
    .searchbutton {
    	padding: 7px;
    }
    
    
    .status {
    
    	gap: 2px;
    }
    
    .status span {
    	padding: 1px 3px;
    	
    }
    
    .status-available {
    	margin: 1px 0;
    }
    
    .info p {
    	font-size: 12px;
    }
    
    
    .station-info-popup {
    	width: 280px;
    	height: 650px;
    	top: 95px;
    	right: 40px;
    
    }
    
    .popupStationName {
    	margin-bottom: 1vh;
    	font-size: 20px;
    
    }
    
    .popupchargebusi {
    	margin: 5px 0;
    }
    
    .popupOperator {
    	padding: 4px 14px;
    	font-size: 12px;
    
    }
    
    .popupchargeinfo span {
    	margin: 5px 0;
    	padding-bottom: 3px;
    	    	
    }
    
    .info-header {
    	font-size: 21px;
    	
    }
    
    .info-item {
    	font-size: 14px;
    }
    
    .chargephoto-header {
    	font-size: 21px;
    	margin: 8px 0;
    
    }
    
    .chargephoto-header img {
    	width: 20px;
    	height: 20px;
    
    }
    
    .roadviewnav {
    	font-size: 13px;

    }
    
    .roadview {
    	height: 200px;
    	max-height: 200px;
    
    }
    
    .direction-item {
    	padding: 3px;
    	gap: 8px;
    	font-size: 14px;
    	
    }
    
    
    
}

/* 모바일 화면 (768px 이하) */
@media (max-width: 768px) {
	
	.tab-content {
		margin-top: 1vh;
	}
	
	.route-search h3 {
		margin: 10px 0;
	}
	
	
    .maincontainer {
        flex-direction: column; /* 검색 바와 지도를 세로로 배치 */
    }
    
	.tabbarev, .tabbarroad {
		font-size: 13px;
	}

    .searchbar {
        width: 250px; /* 검색 바 전체 화면 너비 */
        height: 650px; /* 높이 자동 조정 */
        margin: 20px; 
    }
    
    .selectlocal h3 {
    	font-size: 16px;
    }
    
    .dropdown {
   		width: 80%;
   		
   	}
   	
   	.chargetypetext {
   		font-size: 16px;
   	
   	}
   	
   	
	.chargetype label {
	    font-family: 'SUIT-Regular', sans-serif;
	    font-size: 12px;
	    display: flex;
	    align-items: center;
	    margin: 1px;
	    
	}

    .kakaomap {
        width: 100%; /* 지도 전체 화면 너비 */
        height: 100vh; /* 지도 높이를 화면 절반으로 */
    }

	.route-header {
		padding: 3px 0;
		margin: 5px 0;
	
	}

    .route-main, .route-result {
        max-height: 100vh; /* 경로 리스트 높이 축소 */
        overflow-y: auto; /* 스크롤 활성화 */
    }
    

    .direction-item {
    	width: 90%;
    	display: flex;
        align-items: center;
        padding: 3px;
        font-size: 14px;
    }

    .route-input {
        font-size: 14px; /* 입력 필드 폰트 축소 */
        margin: 5px 0;
    }
    
    
    .route-searchbutton {
    	width: 82%;
    	font-size: 14px;
    
    }

    .searchbutton {
        width: 100%; /* 검색 버튼 전체 너비 */
        margin: 5px 15px;
    }
    
    .input-container {
    	display: flex;
    	text-align: center;
    	align-items: center;
    
    }
    
    .searchlist {
	font-family: 'SUIT-Regular', sans-serif;
	width: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 2vh;
	overflow-y : auto;
	max-height: 100%;
	flex: 1;
	box-sizing: border-box;
	
	}
    
    .searchlist h2 {
    	font-size: 16px;
    }
    
    .search-item {
    	padding: 5px 0;
    }
    
    .status {
    	gap: 1px;
    }
    

    .route-icon img {
        width: 20px;
        height: 20px; /* 아이콘 크기 축소 */
    }
    
    .status span {
	    display: inline-flex;
	    align-items: center;
	    font-size: 8px;
	    border-radius: 15px;
	    margin-top: 4px;
    }
    
    .station-info-popup	{
	    max-width: 250px;
	    width: 300px;
	    height: 640px;
    }
    
    .pagination-container {
    	margin-right: 3px;
    	
    }
    
    
    .page-button {
    	font-size: 12px;
    	width: 16px;
    	height: 16px;
    
    }
    
    
    
    .popupStationName {
    	font-size: 20px;
    	margin-bottom: 1vh;
    
    }
    

	.popupchargebusi {
		margin: 5px;
	}    
    
    .popupOperator {
    	padding: 3px 13px;
    	font-size: 12px;
    
    }
    
    .popupchargeinfo {
    	gap: 2px;
    }
    
    .info-header {
    	font-size: 20px;
    }
    
    .info-item {
    	font-size: 12px;
    }
    
    .chargephoto-header {
    	font-size: 20px;
    	margin: 7px 0;
    	margin-top: 1.5vh;
    }
    
    .roadviewnav {
    	font-size: 12px;
    	padding: 1px 9px;
    
    }
    
    .roadview {
    	width: 100%;
    	height: 220px;
    }
    
    
    .autocomplete-item {
    	font-size: 12px;
    	padding: 3px 0;
    }
    
    .autocomplete-icon {
    	margin-right: 3px;
    }
    
    
    
}

/* 초소형 화면 (425px 이하) */
@media (max-width: 425px) {
    body {
    
    }

    .searchbar {
    	width: 150px;
    	height: 650px;
        padding: 2px; /* 검색 바 여백 축소 */
        margin: 8px;
        
    }
    
    
    .tabbarev, .tabbarroad {
    	font-size: 9px;
    	margin-top: 1vh;
    
    }
    
    .tab-content {
    	margin-top: 1vh;
    
    }
    
    .selectlocal h3 {
    	font-size: 11px;
    	padding: 0;
    	margin: 4px;
    	margin-left: 1vh;
    }
    
    
    .dropdown {
    	font-size: 9px;
    	padding: 3px;
    	margin: 2px auto;
    
    }
    
    .searchbutton {
    	margin: 0px 8px;
    	font-size: 9px;
    	padding: 3px;
    	
    }
    
    .searchbutton-container {
    	margin: 7px;
    	
    }
    
    .search-item {
    	padding: 2px 0;
    }
    
    .info h3 {
    	font-size: 10px;
    }
    
    
    .info p {
    	font-size: 9px;
    	margin-top: 2px;
    }
    
    .status span {
    	font-size: 5px;
    	margin-top: 2px;
    }
    
    
    .tabbar .active {
    
    }

	.tabbar .active::after {
		bottom: -4px;
		left: -10px;
		width: calc(100% + 21px);
	
	}
	
	.searchlist {
		margin-left: 1vh;
		margin-top: 0.5vh;
		
	}
	
	.searchlist h2 {
		font-size: 11px;
		margin-top: 0.5vh;
	}
	
	.chargetypetext {
		font-size: 11px;
		margin-top: 0.5vh;
		margin-left: 1vh;
	
	}
	
	.chargetype {
		margin-top: 1vh;
	
	}
	
	
	.chargetype label {
		font-size: 10px;
		margin: 0px;
	
	}
	
	.chargetype input[type="checkbox"] {
		margin-right: 0.5vh;
    	width: 11px;
    	height: 11px;
	
	}
	
	.pagination-container {
		margin: 0 -3px;
	
	}
	
	.page-button {
		height: 18px;
		font-size: 8px;
		margin: 0;
		width: 10px;
	}
	
	.pagination-wrapper {
		display: table;
	}
	
	
	.station-info-popup {
		width: 150px;
		height: 580px;
		top: 65px;
		right: 8px;
		padding: 15px;
	
	}
	
	#closePopupButton {
		top: 2px;
		right: 0px;
		font-size: 13px;
		
	}
	
	.popupStationName {
		font-size: 12px;
		
	}
	
	
	.popupOperator {
		padding: 2px 6px;
		font-size: 9px;
	
	}
	
	.popupchargeType table {
		margin: 8px auto;
	
	}
	
	.popupchargeType th, .popupchargeType td {
		font-size: 9px;
		padding: 0;
	
	}
	
	.popupchargeType span {
		width: auto;
		height: auto;
		text-align: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: 9px;
		padding: 2px 6px;
	
	}

	.popupchargeinfo span {
		font-size: 12px;
	
	}
	
	.info-item {
		font-size: 9px;
	}
	
	.label {
		width: 40px;
	}
	
	.chargephoto-header {
		font-size: 12px;
		display: flex;
		justify-content: space-between;
		
	}
	
	.roadviewnav {
		font-size: 10px;
		padding: 1px 3px;
	}
	
	.chargephoto-header img {
		width: 15px;
		height: 15px;
		
	}
	
	.roadview {
		width: 100%;
		height: 220px;
		max-height: 220px;
	
	}

    .route-main {
        max-height: 100vh;
    }

    .route-icon img {
        width: 18px;
        height: 18px; /* 아이콘 크기 최소화 */
    }

    .direction-item {
        gap: 3px; /* 리스트 간격 축소 */
        padding: 0;
        font-size: 10px;
        width: 95%;
        
    }
		
	.route-icon {
		height: 27px;
		margin-right: 2px;
	
	}    

    
    .route-search {
    	margin-left: 1vh;
    
    }
    
    .route-search h3 {
    	font-size: 11px;
    	margin: 3px 0;
    
    }
    
    .route-input {
    	font-size: 9px;
    	padding: 7px;
    	margin: 3px 0;
    
    }
    
    .route-swapbutton {
    	padding: 3px 3px;
    	width: 12px;
    	height: 12px;
    
    }
    
    .route-searchbutton {
    	width: 91%;
    	font-size: 10px;
    	padding: 6px;
    }
    
    .route-header {
    	margin: 0;
    	padding: 0;
    	font-size: 10px;
    
    }
    
    .autocomplete-item {
    	font-size: 9px;
    	padding: 2px 0;
    
    }
    
    .autocomplete-icon {
    	width: 15px;
    	height: 15px;
    
    }
    
    
}