@charset "UTF-8";

/* 폰트 설정 */
@font-face { /* 어그로체 */
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* 리아체 */
    font-family: 'RiaSans-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* 프리젠테이션 */
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face { /* 자이언츠체 */
    font-family: 'Giants-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face { /* 한국기계연구원 */
    font-family: 'KIMM_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face { /*프리텐다드*/
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* 헤더 스타일 */
.header-container {
  display: flex;
  justify-content: space-between; /* flex-grow를 space-between으로 변경 */
  align-items: center;
  width: 100%;
  font-size: 14px;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 120;
  font-family: 'Pretendard-Regular';
  font-weight: 700;
}

/* 로고 스타일 */
.logo {
  margin-left: 150px; /* 로고 왼쪽에 공백을 없앰 */
    margin-top: 20px; /* 로고 위쪽에 100px 공백 추가 */
  display: flex; /* 로고를 flex로 배치하여 다른 요소들과 균형을 맞춤 */
  align-items: center; /* 세로 중앙 정렬 */
}

.logo a {
  font-family: 'KIMM_Bold';
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

/* 전체 헤더를 오른쪽으로 배치 */
.header-container {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 100%; /* 부모 요소의 전체 너비를 차지 */
  padding: 10px; /* 헤더 패딩 */
  margin-top: -35px; /* 위쪽 여백 20px */
   margin-left: -160px;
}

.member,
.menu {
  display: flex; /* 가로로 정렬 */
  gap: 20px; /* 항목 간 간격 */
  align-items: center; /* 세로 중앙 정렬 */
}

.userprofile {
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  color: #000;
}

.member a {
   font-family: 'Pretendard-Regular';
  font-size: 16px;
  color: #000;
  text-decoration: none;
  padding: 5px 10px; /* 메뉴 항목에 패딩 추가 */
  transition: background-color 0.3s, color 0.3s; /* 부드러운 호버 효과 */
}

.member a:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 변경 */
  color: #161938; /* 호버 시 텍스트 색상 변경 */
  text-decoration: none; /* 호버 시에도 실선 제거 */
}
