@charset "UTF-8";

/*이사만루  */
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*프리텐다드  */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {/*문경감 홍사과*/
    font-family: 'Mungyeong-Gamhong-Apple';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/Mungyeong-Gamhong-Apple.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* body와 price-section 스타일 */
body {
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
    font-family: Arial, sans-serif;
        overflow: hidden; /* 스크롤 비활성화 */
}

.price-section {
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
}

.price-section.show {
    transform: translateX(0);
}

/* 중앙 텍스트 공통 스타일 */
.container_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 1;
    height: 230px; /* 고정 높이 설정 */
    overflow: hidden; /* 텍스트가 넘어가는 부분 숨김 */
    transform: translateY(-70px)translateX(10px); ; /* 텍스트를 위로 150px 올리기 */
}


.central-text {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    position: absolute; /* 동일 위치 유지 */
    font-family: 'GongGothicMedium';
    opacity: 0;
    animation: textFadeInOut 15s infinite; /* 반복 */
}

/* 순차적 애니메이션 딜레이 */
.central-text-1 {
    animation-delay: 0s;
}

.central-text-2 {
    animation-delay: 3s;
}

.central-text-3 {
    animation-delay: 6s;
}

.central-text-4 {
    animation-delay: 9s;
}

.central-text-5 {
    animation-delay: 12s;
}

/* 텍스트 페이드 인/아웃 애니메이션 */
@keyframes textFadeInOut {
    0%, 20% {
        opacity: 1;
    }
    25%, 100% {
        opacity: 0;
    }
}

/* 글자 하나씩 떨어지는 애니메이션 */
.falling-text {
    display: inline-block;
    opacity: 0;
    transform: translateY(-50px);
    animation: fallingEffect 0.6s ease forwards;
}

/* 각 글자에 딜레이 추가 */
.falling-text:nth-child(1) {
    animation-delay: 0.3s;
}

.falling-text:nth-child(2) {
    animation-delay: 0.6s;
}

.falling-text:nth-child(3) {
    animation-delay: 0.9s;
}

.falling-text:nth-child(4) {
    animation-delay: 1.2s;
}

.falling-text:nth-child(5) {
    animation-delay: 1.5s;
}

.falling-text:nth-child(6) {
    animation-delay: 1.8s;
}

/* 글자 낙하 효과 */
@keyframes fallingEffect {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px; /* 각 줄 간격 줄임 */
}

/* 두 번째 줄 배치 */
.bottom-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/* 전기차 충전소 */
.ev-charging-container {
    width: 320px; /* 크기 줄임 */
    height: 320px; /* 크기 줄임 */
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%; /* 원형 유지 */
    left: 180px; /* 왼쪽으로 100px 이동 */
    top: 50px; /* 위쪽으로 50px 이동 */
    transition: transform 0.3s ease; /* 전체 컨테이너 확대 효과 */
}

/* 전기차 이미지 */
.ev-charging-img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* 원형 유지 */
    object-fit: cover;
    transition: transform 0.3s ease; /* 이미지 확대 애니메이션 */
}

/* 전기차 텍스트 */
.ev-charging-text {
    position: absolute;
    right: -3px; /* 오른쪽으로 10px 여백 */
    top: 50%; /* 수직 중앙 위치 */
    transform: translateY(-50%); /* 텍스트를 정확히 중앙으로 위치 */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-left: 15px; /* 왼쪽 패딩 */
    padding-right: 25px; /* 오른쪽 패딩 */
    transition: transform 0.3s ease; /* 텍스트 확대 애니메이션 */
}

.ev-charging-text h3, .ev-charging-text p {
    margin: 0; /* 상하 마진을 0으로 설정하여 텍스트 간격을 줄임 */
    padding: 0; /* 상하 패딩을 0으로 설정 */
}

.ev-charging-text h3 {
    margin-bottom: 5px; /* 필요시 여백 추가 */
}

.ev-charging-text p {
    margin-top: 0; /* 필요시 여백 추가 */
}

/* 전기차 호버 효과 */
.ev-charging-container:hover {
    transform: scale(1.1); /* 전체 컨테이너가 확대 */
}

.ev-charging-container:hover img {
    transform: scale(1.1); /* 이미지 확대 */
}

.ev-charging-container:hover .ev-charging-text {
    transform: scale(1.2); /* 텍스트 확대 */
}

/* 주유소 */
.gas-station-container {
    width: 320px; /* 크기 줄임 */
    height: 320px; /* 크기 줄임 */
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%; /* 원형 유지 */
    left: -150px; /* 왼쪽으로 100px 이동 */
    top: 40px; /* 위쪽으로 50px 이동 */
    transition: transform 0.3s ease; /* 전체 컨테이너 확대 효과 */
}

/* 주유소 이미지 */
.gas-station-img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* 원형 유지 */
    object-fit: cover;
    transition: transform 0.3s ease; /* 이미지 확대 애니메이션 */
}

/* 주유소 텍스트 */
.gas-station-text {
    position: absolute;
    top: 50%; /* 수직 중앙 위치 */
    transform: translateY(-50%); /* 텍스트를 정확히 중앙으로 위치 */
    color: #fff;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s ease; /* 텍스트 확대 애니메이션 */
    background-color: rgba(0, 0, 0, 0.5);
    left: -3px; /* 왼쪽 여백 10px 추가 */
    padding-left: 25px; /* 왼쪽 패딩 */
    padding-right: 15px; /* 오른쪽 패딩 */
    
}

.gas-station-text h3, .gas-station-text p {
    margin: 0; /* 상하 마진을 0으로 설정하여 텍스트 간격을 줄임 */
    padding: 0; /* 상하 패딩을 0으로 설정 */
}

.gas-station-text h3 {
    margin-bottom: 1px; /* 필요시 여백 추가 */
}

.gas-station-text p {
    margin-top: 0; /* 필요시 여백 추가 */
}
/* 주유소 호버 효과 */
.gas-station-container:hover {
    transform: scale(1.1); /* 전체 컨테이너가 확대 */
}

.gas-station-container:hover img {
    transform: scale(1.1); /* 이미지 확대 */
}

.gas-station-container:hover .gas-station-text {
    transform: scale(1.2); /* 텍스트 확대 */
}


/* 주차장 */
.parking-lot-container {
    width: 250px; /* 크기 줄임 */
    height: 250px; /* 크기 줄임 */
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%; /* 원형 유지 */
    left: 320px; /* 왼쪽으로 100px 이동 */
    top: -100px; /* 위쪽으로 50px 이동 */
    transition: transform 0.3s ease; /* 전체 컨테이너 확대 효과 */
}

/* 주차장 이미지 */
.parking-lot-img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* 원형 유지 */
    object-fit: cover;
    transition: transform 0.3s ease; /* 이미지 확대 애니메이션 */
}

/* 주차장 텍스트 */
.parking-lot-text {
    position: absolute;
    right: -3px; /* 오른쪽으로 10px 여백 */
    top: 50%; /* 수직 중앙 위치 */
    transform: translateY(-50%); /* 텍스트를 정확히 중앙으로 위치 */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-left: 15px; /* 왼쪽 패딩 */
    padding-right: 25px; /* 오른쪽 패딩 */
    transition: transform 0.3s ease; /* 텍스트 확대 애니메이션 */
}

/* 주차장 텍스트 */
.parking-lot-text h3, .parking-lot-text p {
    margin: 0; /* 상하 마진을 0으로 설정하여 텍스트 간격을 줄임 */
    padding: 0; /* 상하 패딩을 0으로 설정 */
}

.parking-lot-text h3 {
    margin-bottom: 1px; /* 필요시 여백 추가 */
}

.parking-lot-text p {
    margin-top: 0; /* 필요시 여백 추가 */
}


/* 주차장 호버 효과 */
.parking-lot-container:hover {
    transform: scale(1.1); /* 전체 컨테이너 확대 */
}

.parking-lot-container:hover .parking-lot-img {
    transform: scale(1.1); /* 이미지 확대 */
}

.parking-lot-container:hover .parking-lot-text {
    transform: scale(1.2); /* 텍스트 확대 */
}

/* 커뮤니티 */
.community-container {
    width: 250px; /* 크기 줄임 */
    height: 250px; /* 크기 줄임 */
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%; /* 원형 유지 */
    left: -320px; /* 왼쪽으로 100px 이동 */
    top: -100px; /* 위쪽으로 50px 이동 */
    transition: transform 0.3s ease; /* 전체 컨테이너 확대 효과 */
}

/* 커뮤니티 이미지 */
.community-img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* 원형 유지 */
    object-fit: cover;
    transition: transform 0.3s ease; /* 이미지 확대 애니메이션 */
}

/* 커뮤니티 텍스트 */
.community-text {
    position: absolute;
    top: 50%; /* 수직 중앙 위치 */
    transform: translateY(-50%); /* 텍스트를 정확히 중앙으로 위치 */
    color: #fff;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s ease; /* 텍스트 확대 애니메이션 */
    background-color: rgba(0, 0, 0, 0.5);
    left: -3px; /* 왼쪽 여백 10px 추가 */
    padding-left: 25px; /* 왼쪽 패딩 */
    padding-right: 15px; /* 오른쪽 패딩 */
}
/* 커뮤니티 텍스트 */
.community-text h3, .community-text p {
    margin: 0; /* 상하 마진을 0으로 설정하여 텍스트 간격을 줄임 */
    padding: 0; /* 상하 패딩을 0으로 설정 */
}

.community-text h3 {
    margin-bottom: 1px; /* 필요시 여백 추가 */
}

.community-text p {
    margin-top: 0; /* 필요시 여백 추가 */
}

/* 커뮤니티 호버 효과 */
.community-container:hover {
    transform: scale(1.1); /* 전체 컨테이너 확대 */
}

.community-container:hover .community-img {
    transform: scale(1.1); /* 이미지 확대 */
}

.community-container:hover .community-text {
    transform: scale(1.2); /* 텍스트 확대 */
}

/*화살표 스타일*/

  /* 텍스트와 화살표 스타일 */
    .arrow-container {
        position: fixed; /* 화면에 고정 */
        bottom: 20px; /* 아래쪽 여백 */
        right: 20px; /* 오른쪽 여백 */
        display: flex;
        align-items: center;
       font-family: 'Pretendard-Regular';
        font-size: 16px;
        font-weight: bold;
        background-color: white; /* 배경색 (필요 시 제거 가능) */
        padding: 10px; /* 패딩 추가 */
        border-radius: 8px; /* 둥근 모서리 */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
        
    }

    .arrow-text {
        margin-right: 10px;
    }

    .arrow-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .arrow-icon i {
        font-size: 18px;
        color: #000;
    }

    /* 호버 시 스타일 변경 */
    .arrow-icon:hover {
   background-color: #444;
    }
    /* 호버 시 아이콘 색상 변경 */
.arrow-icon:hover i {
    color: #fff; /* 호버 시 아이콘 색상 변경 */
}