@charset "UTF-8";

html, body{
	margin:0 auto;
	height: 100%;
}


.maincontainer-parking{
	width:100%;
	height: 100vh;	
	display: flex;
	flex-direction: row;
}

.searchbar-parking{
	width:350px;
	height: 100%;
	
}


.parking-map{
	width:100%;
	height: 100%;
	flex:1;
}



 /* 검색바 스타일 */
 .search-bar {
	display: flex;
	margin-bottom: 10px;
}
.search-bar input {
	flex: 1;
	padding: 5px;
}
.search-bar button {
	padding: 5px 10px;
}

/* 탭 스타일 */
.parking-tabs {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
}
.tab-button {
	padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.tab-button.active {
	background-color: #007bff;
    color: white;
}

/* 주차장 리스트 스타일 */
.parking-list .parking-item {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

/* 페이지네이션 스타일 */
.pagination {
	 display: flex;
	text-align: center;
	margin-top: 10px;
}
.pagination button {
	padding: 5px 10px;
	margin: 0 5px;
}

/* label-container 클래스는 라벨을 담고 있는 컨테이너 */
.label-container {
    display: flex;
    gap: 8px; /* 라벨 간 간격 */
    margin-top: 5px; /* 라벨과 제목 간격 */
}

/* label 클래스는 각 라벨의 스타일 */
.label_gubun{
	background-color: #4CAF50; /* 라벨 배경색 */
    color: white; /* 텍스트 색상 */
    padding: 3px 8px; /* 라벨 내부 여백 */
    border-radius: 12px; /* 둥근 모서리 */
    font-size: 0.8em; /* 폰트 크기 */
    font-weight: bold; /* 텍스트 굵기 */
}

.label_type{
	background-color: #0c10ec; /* 라벨 배경색 */
    color: white; /* 텍스트 색상 */
    padding: 3px 8px; /* 라벨 내부 여백 */
    border-radius: 12px; /* 둥근 모서리 */
    font-size: 0.8em; /* 폰트 크기 */
    font-weight: bold; /* 텍스트 굵기 */
}


.label_charge{
	background-color: black; /* 라벨 배경색 */
    color: white; /* 텍스트 색상 */
    padding: 3px 8px; /* 라벨 내부 여백 */
    border-radius: 12px; /* 둥근 모서리 */
    font-size: 0.8em; /* 폰트 크기 */
    font-weight: bold; /* 텍스트 굵기 */
}


/* 내 위치 버튼 아이콘 스타일 */
#myLocationButton {
    position: absolute;
    bottom: 30px; /* 지도 하단에서 10px 떨어짐 */
    left: 200px; /* 지도 왼쪽에서 10px 떨어짐 */
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    cursor: pointer;
    z-index: 10;
    padding: 0; /* 여백 제거 */
}

#myLocationButton i {
    color: #007bff; /* 아이콘 색상 파란색 */
    font-size: 24px; /* 아이콘 크기 */
}

#myLocationButton i:hover {
    color: #0056b3; /* 호버 시 더 진한 파란색 */
}
    #parking-details-popup {
        position: fixed;
        top: 10%;
        right: 0;
        width: 300px;
        max-height: 80%;
        overflow-y: auto;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        z-index: 1000;
    }

    #parking-details-popup button {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    #pagination button.active {
    font-weight: bold;
    color: blue; /* 원하는 색상으로 변경 가능 */
}
    
/* 길찾기 CSS */
.search-results {
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    z-index: 1000;
}

.search-results div {
    padding: 8px;
    cursor: pointer;
}

.search-results div:hover {
    background-color: #f0f0f0;
}

.route-search {
    margin-bottom: 20px;
}

.route-search label {
    display: inline-block;
    width: 60px;
    margin-right: 10px;
}

.route-search input {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

.route-result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.route-result h3 {
    margin-top: 0;
}



      