@charset "UTF-8";

/* 폰트 설정 */
@font-face { /* 어그로체 */
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* 리아체 */
    font-family: 'RiaSans-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* 프리젠테이션 */
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face { /* 자이언츠체 */
    font-family: 'Giants-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face { /* 한국기계연구원 */
    font-family: 'KIMM_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face { /*프리텐다드*/
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 헤더 스타일 */
.header-container {
  position: relative; /* 위치 설정을 위해 relative 추가 */
  z-index: 20; /* 헤더가 지도보다 위에 표시되도록 설정 */
  display: flex;
  z-index: 2000;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px; /* 좌우 여백 추가 */
  background-color: #ffffff; /* 배경색을 흰색으로 설정 */
}

.logo {
  margin-left: 20px; /* 로고 왼쪽에 공백 추가 */
}

.logo a {
  font-family: 'KIMM_Bold';
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.menu {
  display: flex; /* 메뉴를 가로로 정렬 */
  gap: 20px; /* 메뉴 간 간격 */
}

.menu a {
   font-family: 'Pretendard-Regular';
  font-size: 16px;
  color: #000;
  text-decoration: none;
  padding: 5px 10px; /* 메뉴 항목에 패딩 추가 */
  transition: background-color 0.3s, color 0.3s; /* 부드러운 호버 효과 */
}

.menu a:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 변경 */
  color: #161938; /* 호버 시 텍스트 색상 변경 */
  text-decoration: none; /* 호버 시에도 실선 제거 */
}

